@import "semantic-ui";

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}

#user_display {
  height: 15em;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
}